.da {
  background-image: url('/dist/img/heroDA.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
}
ul.dist-arm {
  font: 400 1.6rem/2 $secondary-font;
}
