.motto {
  @include respond('tab-port') {
    position: relative;
  }
  [class*='col-sm-12'] {
    &:last-child {
      padding-right: 0;
      padding-left: 0;
    }
  }
  &__image {
    img {
      /* [ IMG 021 B ]: */
      box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.35);
      @include respond('phone') {
        height: 300px;
      }
      @include respond('tab-port') {
        height: auto;
      }
      // @include respond('desktop') {
      //   height: auto;
      // }
    }
    @include respond('phone') {
      text-align: center;
    }
  }
  &__content {
    background-color: #fafafa;
    z-index: -1;
    margin-top: 20px;
    padding: 40px 25px;
    @include respond('tab-port') {
      position: relative;
      margin-left: -102px;
      margin-top: -78px;
      padding: 35px 120px;
    }
    @include respond('desktop') {
      padding: 51px 164px;
    }
    hr {
      border-top: 2px solid $main-green;
      border-left: 0;
      border-bottom: 0;
      border-right: 0;
      max-width: 30%;
      text-align: left;
      margin-right: 240px;
      margin-bottom: 40px;
      @include respond('tab-port') {
        margin-bottom: 20px;
      }
      @include respond('desktop') {
        margin-right: 400px;
        margin-bottom: 50px;
      }
    }
    p {
      margin-top: 20px;
    }
  }
}

.products-home {
  @include respond('desktop') {
    padding: 0 90px;
  }
  #myTabContent {
    margin-top: 30px;
  }
  .tab-content {
    &__image {
      background-color: $bone;
      img {
        height: auto;
        @include respond('tab-port') {
          height: auto;
        }
        @include respond('desktop') {
          height: 376px;
        }
      }
    }
    &__desc {
      h1.heading--primary {
        margin-top: 35px;
      }
      p.paragraph {
        @include respond('tab-port') {
          margin: 58px 0;
          padding-left: 40px;
          line-height: 2;
        }
      }
      button.btn-text-green {
        margin-top: 20px;
        @include respond('tab-port') {
          margin-top: 0;
          margin-left: 40px;
        }
      }
    }
  }
}

.logos {
  padding: 28px 0;
  a img {
    margin-top: 20px;
    height: 30px;
    @include respond('tab-port') {
      margin-top: 0;
      height: auto;
    }
  }
  .descriptions {
    margin-top: 28px;
    .card.card-body {
      background-color: #42464b;
      p {
        color: #fff;
      }
    }
  }
}
