.cards {
  margin-bottom: 46px;
  margin-top: -45px;
  @include respond('tab-port') {
    padding-right: 65px;
  }
  @include respond('desktop') {
    padding-right: 0;
  }
  .card {
    /* Rectangle 23: */
    margin-top: 20px;
    background: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    border: 0;

    padding: 54px;
    ul {
      list-style-image: url('/dist/svg/check.svg');
    }
  }
}
.card-header {
  background-color: #fff;
  border-bottom: 0;
  button {
    background-color: #fff;
    border: none;
    font: 400 1.6rem $main-font;
    color: $main-green;
  }
}
.card-body {
  font: 400 14px/1.7 $secondary-font;
  color: #42464b;
}
