.cards {
  margin-bottom: 46px;
  margin-top: -45px;
  .card {
    /* Rectangle 23: */
    margin-top: 20px;
    background: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    border: 0;

    padding: 54px;
    ul {
      list-style-image: url('/dist/svg/check.svg');
    }
  }
}
