.jumbotron {
  height: 400px;
  // @include respond('tab-port') {
  //   max-height: 400px;
  // }
  @include respond('desktop') {
    height: 550px;
  }
  &__content {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 68px 10px 42px 18px;
    max-width: 484px;
    margin-left: 35px;
    @include respond('tab-port') {
      margin-left: 25px;
      // margin-top: 108px;
      margin-top: 103px;
      padding: 46px;
      height: 264px;
    }
    @include respond('desktop') {
      margin-left: 45px;
      // margin-top: 188px;
      // margin-top: 260px;
      margin-top: 19%;
      padding: 46px;
      padding: 30px 46px 30px 46px;
      height: 253px;
    }
    h1 {
      margin-top: 10px;
    }
    p {
      margin-top: 20px;
      padding-left: 20px;
      border-left: 2px solid #60ad5f;
    }
  }
  &__content--us {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 68px 10px 42px 18px;
    max-width: 484px;
    margin-left: 35px;
    @include respond('desktop') {
      margin-left: 45px;
      // margin-top: 188px;
      // margin-top: 260px;
      margin-top: 310px;
      // padding: 46px;
      padding: 35px 46px 30px 46px;
      height: 203px;
    }
    p {
      margin-top: 25px;
      padding-left: 20px;
      border-left: 2px solid #60ad5f;
    }
  }
  &__content--short {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 68px 10px 42px 18px;
    max-width: 484px;
    margin-left: 35px;
    margin-top: 200px;
    @include respond('tab-port') {
      margin-left: 25px;
      // margin-top: 108px;
      margin-top: 200px;
      padding: 46px;
    }
    @include respond('desktop') {
      margin-left: 45px;
      // margin-top: 188px;
      margin-top: 370px;
      padding: 46px;
      height: 100%;
    }
  }
  &__products {
    background-color: #f8f8f8;
    height: 400px;
    margin-bottom: 67px;
    padding: 60px 20px;
    @include respond('tab-port') {
      padding: 60px 80px;
      height: 45vh;
    }
    h2 {
      margin-top: 50px;
      margin-bottom: 20px;
      @include respond('desktop') {
        letter-spacing: 1.7px;
      }
      img {
        height: 36px;
        @include respond('desktop') {
          height: auto;
        }
      }
    }
    p {
      margin-top: 30px;
    }
    &--category {
      @include respond('desktop') {
        img {
          margin-top: -10px;
        }
      }
    }
  }
}
