.btn {
  border: 2px solid $main-green;
  border-radius: 21px;
  background-color: transparent;
  height: 40px;
  width: 188px;
  transition: all 0.3s;
  &:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
    font-weight: 700;
  }
  &-text-green {
    color: $main-green;
    text-transform: uppercase;
    font-weight: 700;
  }
}

button.btn-solutions {
  background-color: #fff;
  border: none;
  margin-top: 31px;
  cursor: pointer;
  &:last-child {
    margin-top: 7px;
  }
  i {
    color: $main-green;
  }
}

button.btn-form {
  background-color: $main-green;
  border: none;
  padding: 1.6rem 4rem;
  &:hover {
    background-color: #42464b;
  }
}
a.btn-quote {
  font: 700 2rem $main-font;
  color: $main-green;
  text-transform: uppercase;
  border-bottom: 2px solid $main-green;
  transition: all 0.3s;
  &:hover {
    text-decoration: none;
    color: darken($main-green, 15%);
    border-bottom: 2px solid darken($main-green, 15%);
  }
}
a.btn-download {
  font: 700 2rem $main-font;
  color: #758cae;
  text-transform: capitalize;
  transition: color 0.3s;
  &:hover {
    text-decoration: none;
    color: darken(#758cae, 15%);
  }
}
