// ------------ TYPES OF HEADING -----------------
.heading--primary {
  font: 400 2.4rem $main-font;
  // text-align: center;
  @include respond('desktop') {
    font-size: 3.2rem;
    margin-bottom: 127px;
  }
}

p.paragraph {
  font: 400 1.6rem/1.5 $secondary-font;
  color: #42464b;
  @include respond('tab-port') {
    padding-right: 35px;
  }
  a {
    color: $main-green;
  }
}
.main-paragraph {
  font: 400 14px/2 $secondary-font;
  @include respond('tab-port') {
    padding-right: 35px;
  }
  @include respond('desktop') {
    font-size: 16px;
    padding-right: 0;
  }
  span {
    font-weight: 700;
    font-size: 16px;
  }
}
.secondary-paragraph {
  font: 400 14px $secondary-font;
  color: #42464b;
  @include respond('tab-port') {
    padding-right: 35px;
  }
  @include respond('desktop') {
    font-size: 18px;
  }
}
.product-category-description {
  font: 400 1.4rem/2 $secondary-font;
  color: #42464b;
  letter-spacing: 0.16px;
  span {
    font-weight: 700;
  }
  @include respond('tab-port') {
    padding-right: 35px;
  }
  @include respond('desktop') {
    font-size: 1.6rem;
    padding-right: 0;
  }
  // margin-bottom: 57px;
}
.article-heading {
  font: 700 1.4rem $main-font;
  color: $main-green;
  text-transform: uppercase;
  margin: 30px 0;
}
.article-question {
  font: 700 2.4rem $main-font;
  color: #42464b;
  margin: 45px 0;
}
p.article--summary {
  font: 400 1.8rem $secondary-font;
  color: $main-green;
  margin-top: 40px;
}
// ------------ CARD -----------------
.cards {
  .card {
    ul {
      li {
        font: 400 1.4rem/2 $secondary-font;
        color: #42464b;
        @include respond('desktop') {
          font-size: 1.8rem;
        }
      }
    }
  }
}
// ------------ TOP -----------------
.top {
  a {
    font: 400 1.4rem $main-font;
    color: #9b9b9b;
    margin-right: 5rem;
  }
}

// ------------ NAVBAR -----------------
ul.navbar-nav {
  font-family: $main-font;
  li.nav-item {
    a {
      color: #000;
      font-weight: 400;
      &:hover {
        font-weight: 700;
        color: $text-dark;
      }
    }
    &.active {
      a {
        color: $main-green;
        font-weight: 700;
      }
    }
  }
}
.navbar-collapse {
  .dropdown-menu {
    @include respond('desktop') {
      text-align: center;
    }
    a.dropdown-item {
      color: rgba(0, 0, 0, 0.61);
      font-size: 14px;
      text-transform: none;
      font-family: $main-font;
      &:focus {
        background-color: $nav-dropdown;
      }
      @include respond('tab-port') {
        font-size: 10px;
        text-transform: uppercase;
        font-weight: 700;
        color: $text-dark;
        // margin-top: 20px;
      }
    }
    &.articles {
      @include respond('desktop') {
        text-align: right;
      }
    }
  }
}
.nav.nav-tabs {
  .nav-item {
    a.nav-link {
      text-transform: uppercase;
      font: 700 1.4rem $main-font;
      color: #000;
      padding-bottom: 10px;
      border: 0;
      &.active {
        color: $main-green;
        border-bottom: 1px solid $main-green;
      }
    }
  }
}

//------------ JUMBOTRON -----------------
.jumbotron {
  h1 {
    font: 700 2.4rem $main-font;
    color: #fff;
    opacity: 1;
    @include respond('tab-port') {
      font-size: 4rem;
    }
    @include respond('desktop') {
      font-size: 5rem;
    }
  }
  p {
    font: 400 1.2rem/1.7 $secondary-font;
    color: #fff;
    @include respond('desktop') {
      font-size: 1.4rem;
    }
  }
}
.jumbotron__products {
  &--heading {
    font: 700 1.8rem $main-font;
    color: #9b9b9b;
    @include respond('tab-port') {
      font-size: 2.6rem;
    }
  }
  &--category {
    font: 700 2.4rem $main-font;
    color: #42464b;
    @include respond('tab-port') {
      font-size: 5rem;
    }
  }
  p {
    font: 400 1.4rem/1.5 $secondary-font;
    color: #42464b;
    @include respond('tab-port') {
      font-size: 1.8rem;
      line-height: 1.2;
    }
  }
}

//------------ HERO SIDEBAR -----------------
.hero-sidebar {
  font-family: $main-font;
  z-index: 4;
  color: #8df58b;
  span {
    width: 220px;
    transform: rotate(-90deg);
    position: absolute;
    left: 0;
    top: 50%;
    text-align: center;
    margin-left: -82px;
    // margin-left: -14px;
    font-size: 18px;
    @include respond('desktop') {
      margin-left: -72px;
      font-size: 22px;
    }
  }
}

//------------ ITEM CONTAINER -----------------
.item__container {
  &--heading {
    font: 700 2.6rem $main-font;
    font-size: 26px;
    color: #fff;
    @include respond('tab-port') {
      font-size: 60px;
      padding-right: 300px;
    }

    @include respond('desktop') {
      padding-right: 700px;
      font-size: 65px;
    }
  }
  &--text {
    font: 400 1.2rem $secondary-font;
    color: #fff;
    margin-left: 20px;
    @include respond('tab-port') {
      font-size: 1.6rem;
      max-width: 550px;
    }
    @include respond('desktop') {
      max-width: 500px;
      font-size: 13px;
    }
  }
}

//------------ BUTTONS -----------------
.btn-text-white {
  text-transform: uppercase;
  color: #fff;
  font: 700 10px $secondary-font;
  @include respond('tab-port') {
    font-weight: 400;
    font-size: 1.3rem;
  }
}
button.btn-form {
  font: 700 1.6rem $main-font;
  color: #fff;
}
//------------ SOLUTIONS SECTION -----------------
.solutions {
  &__container {
    &--content {
      p {
        // height: 102.5px;
      }
      font: 400 1.6rem/2 $secondary-font;
      color: #666666;
      span {
        color: #000;
      }
      button.btn-solutions {
        font-weight: 700;
        color: #42464b;
      }
    }
  }
}

//------------ MODAL -----------------
.modal-body {
  &__title {
    h1 {
      font: 700 3.2rem $main-font;
      text-transform: uppercase;
      color: #42464b;
      margin-bottom: 30px;
    }
    a {
      font: 700 2.1rem $main-font;
      color: #42464b;
      margin-top: 25px;
      i {
        color: $main-green;
        font-size: 12px;
      }
    }
  }
  &__content {
    p {
      font: 700 2.5rem $secondary-font;
      color: #42464b;
    }
    li {
      font: 400 1.6rem/1.7 $secondary-font;
      color: #42464b;
      span {
        font-weight: 700;
      }
    }
  }
  p.modal-body__content--2 {
    font: 400 1.8rem/1.7 $secondary-font;
    color: #42464b;
  }
}

//------------ MOTTO -----------------
.motto {
  &__content {
    h1 {
      font: 400 2.4rem $main-font;
      color: #42464b;
      @include respond('tab-port') {
        font-size: 2.8rem;
      }
      @include respond('desktop') {
        font-size: 3.6rem;
      }
    }
    p {
      font: 400 1.5rem/2 $secondary-font;
      color: #42464b;
      @include respond('tab-port') {
        font-size: 1.4rem;
      }
      @include respond('desktop') {
        font-size: 1.6rem;
      }
      span {
        color: #000;
        font-weight: 700;
      }
    }
  }
}
//------------ SOLUTIONS -----------------

// .solutions {
//   &__heading {
//     font: 700 3.6rem $main-font;
//     color: #42464b;
//   }
//   &__content {
//     margin-top: 3rem;
//     font: 400 1.6rem/2 $secondary-font;
//     color: #42464b;
//     a {
//       color: $main-green;
//     }
//   }
// }

//------------ PRODUCTS HOME -----------------

.products-home {
  .heading--primary {
    margin-bottom: 2rem;
    @include respond('desktop') {
      margin-top: 3rem;
    }
  }
  &__content {
    margin-top: 3rem;
    font: 400 1.6rem/2 $secondary-font;
    color: #42464b;
    a {
      color: $main-green;
    }
  }
}

//------------ FOOTER -----------------
.footer {
  &__logo {
    p {
      font: 400 10px/2 $secondary-font;
      color: $footer-color-text;
    }
  }
  .links {
    h2,
    span {
      font-family: $main-font;
      font-weight: 700;
      color: #42464b;
    }
    h2 {
      font-size: 20px;
    }
    span {
      font-size: 12px;
    }
    p,
    a {
      margin-top: 24px;
      font: 400 11px $secondary-font;
      color: #9b9b9b;
    }
  }
  &__bottom {
    p {
      font: 100 9px $main-font;
      a {
        font-weight: 700;
      }
    }
  }
}

//------------ QUALITY STUDY -----------------
.benefits-2 {
  ul {
    li {
      font: 400 14px/2.5 $secondary-font;
      @include respond('desktop') {
        font-size: 16px;
      }
      span {
        font-weight: 700;
      }
    }
  }
}

//------------ REMOTE MANAGEMENT -----------------
.info {
  &__content {
    &--heading {
      font: 400 1.8rem $main-font;
      @include respond('desktop') {
        font-size: 2.6rem;
      }
    }
    &--text {
      font: 400 1.3rem/2 $secondary-font;
      color: #42464b;
      span {
        font-weight: 700;
      }
      @include respond('desktop') {
        font-size: 1.5rem;
      }
    }
  }
}
.process {
  h2 {
    font: 400 1.8rem $main-font;
    color: #42464b;
    @include respond('desktop') {
      font-size: 2.6rem;
    }
  }
  // p {
  //   font: 400 1.3rem/2 $secondary-font;
  //   color: #42464b;
  //   @include respond('desktop') {
  //     font-size: 1.5rem;
  //   }
  // }
}
.benefits {
  h1 {
    font: 700 1.8rem $main-font;
    color: #42464b;
  }
  p {
    font: 400 1.5rem/2.2 $secondary-font;
    color: #fff;
    span {
      font-weight: 700;
    }
    @include respond('desktop') {
      font-size: 2rem;
    }
  }
}

//------------ MISION/VISION MANAGEMENT -----------------
.m-v {
  h1 {
    font: 700 2.4rem $main-font;
    text-transform: uppercase;
    text-align: center;
  }
  p {
    font: 400 1.4rem/2 $secondary-font;
    text-align: center;
    @include respond('desktop') {
      font-size: 1.8rem;
    }
    span {
      font-weight: 700;
    }
  }
  .m {
    h1,
    p {
      color: #fff;
    }
  }
  .v {
    h1,
    p {
      color: #000;
    }
  }
}
//------------ WORK WITH US -----------------
.work-slogan {
  p {
    font: 400 2rem $secondary-font;
    color: $main-green;
    text-align: center;
    @include respond('desktop') {
      font-size: 3rem;
    }
    span {
      font-weight: 700;
    }
  }
}
.jobs {
  h1 {
    font: 700 2.4rem $main-font;
    @include respond('desktop') {
      font-size: 3.6rem;
    }
  }
  .job--title {
    font: 700 2rem $main-font;
    color: $main-green;
  }
  .job--description {
    font: 400 1.4rem/1.9 $secondary-font;
    color: #42464b;
    span {
      font-weight: 700;
    }
    @include respond('desktop') {
      font-size: 1.6rem;
    }
  }
  .requirements {
    h3 {
      font: 700 1.8rem $main-font;
      color: #42464b;
    }
    ul {
      li {
        font: 400 1.6rem/1.6 $secondary-font;
        color: #42464b;
      }
    }
    p {
      font: 700 1.6rem $secondary-font;
      color: #42464b;
    }
  }
}
//------------ CONTACT -----------------
.contact {
  h2 {
    font: 700 3rem $main-font;
    color: $main-green;
    @include respond('desktop') {
      font-size: 4rem;
    }
  }
  h3 {
    font: 700 2rem $main-font;
    color: #42464b;
    @include respond('desktop') {
      font-size: 3rem;
    }
  }
  a {
    font: 400 1.5rem $secondary-font;
    color: #42464b;
    @include respond('desktop') {
      font-size: 2rem;
    }
  }
}
.contact-form {
  .form-group {
    .form-control-label {
      font: 700 1.8rem $main-font;
      color: #42464b;
    }
    input[type='text'],
    input[type='email'],
    textarea[type='text'] {
      font: 400 1.6rem $secondary-font;
    }
  }
}

//------------ PRODUCTS PAGE -----------------
.products {
  h2.product-subcategory {
    font: 700 1.4rem $main-font;
    color: $main-green;
    text-transform: capitalize;

    // margin-bottom: 47px;
    margin-top: 47px;
    @include respond('tab-port') {
      font-size: 1.6rem;
      padding-left: 100px;
    }
    @include respond('desktop') {
      padding-left: 200px;
    }
  }
}
//------------ PRODUCT CARD -----------------
.product-card {
  &--category {
    font: 700 1.1rem $main-font;
    color: $main-green;
    text-transform: uppercase;
    padding: 13px 15px;
    @include respond('desktop') {
      font-size: 1.3rem;
      padding: 13px 30px;
    }
  }
  &--name {
    font: 700 1.6rem $main-font;
    color: #000;
    @include respond('desktop') {
      font-size: 1.8rem;
    }
  }
  &--description {
    font: 400 1.2rem/1.7 $secondary-font;
    color: #9b9b9b;
    text-align: justify;
    @include respond('desktop') {
      font-size: 1.5rem;
    }
  }
}
